.help {
  padding-top: 170px;
  margin-bottom: 123px;
}

.help__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.help__title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

.help__content {
}

.help__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.help__item {
  padding: 24px;
  border: 1px solid var(--grey-color);
  border-radius: 20px;

  cursor: pointer;

  transition: background-color 0.3s ease-in-out;
}

.help__item.active {
  background-color: #ccedfd;
}

.help__item-title {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.help__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  color: var(--tertiary-color);
  overflow: hidden;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .help {
    padding-top: 124px;
  }

  .help__item-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .help__title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .help__item {
    padding: 20px 16px;
  }
  .help__item-title {
    font-size: 13px;
  }
}
