.trackVertical {
  border-radius: 2px !important;
  width: 5px !important;
}

.thumbVertical {
  background-color: var(--secondary-color) !important;
  border-radius: 2px !important;
  width: 5px !important;
}
