.trackVertical {
  border-radius: 2px !important;
  width: 5px !important;
}

.thumbVertical {
  background-color: rgb(145, 145, 145) !important;
  border-radius: 2px !important;
  width: 5px !important;
}
